@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/*Header*/

header menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header menu ul{
    display: flex;
}

header menu ul li a {
    display: block;
}